<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sidebar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Library"/>
    </assemblyBinding>
  </runtime>
  <appSettings>    
    <add key="YandexTranslatorApiKey" value="" />
    <add key="YandexDictionaryApiKey" value="" />
    <add key="YandexSpeechApiKey" value="" />
    <add key="OpenWeatherApiKey" value="" />
    <add key="FixerApiKey" value="" />
  </appSettings>
  <userSettings>
    <Sidebar.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="AddToStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowInTaskbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCollapsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DarkView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrimaryColor" serializeAs="String">
        <value>orange</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>lightblue</value>
      </setting>
    </Sidebar.Properties.Settings>
  </userSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="Log.txt"
              layout="${longdate}|${level:uppercase=true}|${logger}|${message}|{exception:format=shortType,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
      <target name="logconsole" xsi:type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logconsole" />
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>
